.title-animation-idle {
  display: block;
  transform: translate(0, 5rem);
  transition: all 0.6s ease;
  opacity: 0;
  &.activate-animation {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.text-animation-idle {
  opacity: 0;
  transition: all 2s ease;
  &.activate-animation {
    opacity: 1;
  }
}


// .img-animation-idle {
//   transition: all 5s ease;
//   background-size: 100%;
//   &:hover {
//     background-size: 120%;
//   }
// }

// .img-animation-with-filter-idle {
//   transition: filter .5s ease, background-size 5s ease;
//   background-size: 100%;
//   filter: grayscale(1);
//   &:hover {
//     background-size: 120%;
//     filter: grayscale(0);
//   }
// }

// .img-animation-scale-idle {
//   transition: all 5s ease;
//   transform: scale(1);
//   height: 100%;
//   background-size: cover;
//   background-position: center;
//   &:hover {
//     transform: scale(1.2);
//   }
// }

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(1, 161, 247, 1)
    }

    70% {
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0)
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0)
    }
}

@keyframes flight {
	0% {
			transform: translateY(0)
	}

	50% {
			transform: translateY(-4px)
	}

	100% {
			transform: translateY(0)
	}
}