// USER VARIABLES SECTION

@accent    : #01a1f7; // Accent Color
@fontsize  : 20px; // Body Font Size
@lineheight: 1;
@scale     : 1.25;
@scale_md  : 1.6;
@white     : #ffffff;
@black     : #000;
@grey      : #e8e8e8;
@red       : #fe6a24;



@userfont : 'Circe',
sans-serif;
@systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family

@font-face {
	font-family: 'Circe';
	src        : url('../fonts/Circe-Regular.eot');
	src        : local('Circe'), local('Circe-Regular'),
		url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Circe-Regular.woff') format('woff'),
		url('../fonts/Circe-Regular.ttf') format('truetype');
	font-weight : 400;
	font-display: swap;
	font-style  : normal;
}

@font-face {
	font-family: 'Circe';
	src        : url('../fonts/Circe-Bold.eot');
	src        : local('Circe Bold'), local('Circe-Bold'),
		url('../fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Circe-Bold.woff') format('woff'),
		url('../fonts/Circe-Bold.ttf') format('truetype');
	font-weight : 700;
	font-display: swap;
	font-style  : normal;
}

@font-face {
	font-family: 'Circe';
	src        : url('../fonts/Circe-ExtraBold.eot');
	src        : local('Circe ExtraBold'), local('Circe-ExtraBold'),
		url('../fonts/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Circe-ExtraBold.woff') format('woff'),
		url('../fonts/Circe-ExtraBold.ttf') format('truetype');
	font-weight : 800;
	font-display: swap;
	font-style  : normal;
}

// .degub-grid {
// 	.debug(rgba(0, 0, 0, 0.5), 1px solid #ff0);
// }

// GENERAL DOCUMENT STYLES

.reset();

*,
*::before,
*::after {
	box-sizing: border-box;
}

.container {
	.wrapper();
}

h2,
h3 {
	font-weight: 700;
}

.section__title {
	font-size : round(50px/@scale);
	text-align: center;
	.md(font-size, round(50px/@scale_md))
}

::selection {
	background-color: @accent;
	color           : @white;
}

input {
	outline: none;

	&:focus:required:invalid {
		border: 1px solid @red
	}

	&:required:valid {
		border: 1px solid green
	}
}

.menu-active {
	overflow: hidden
}

body {
	font-family: @userfont;
	font-size  : @fontsize;
	.md(font-size, 16px);
	font-weight      : 400;
	line-height      : @lineheight;
	color            : @black;
	min-width        : 320px;
	// min-height: 100vh;
	// position: relative;
	// letter-spacing: 0.05em;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	border-radius   : 100px;
	background-color: @red;
}

::-webkit-scrollbar-thumb {
	border-radius         : 100px;
	background-color      : @accent;
	// border             : 5px solid transparent;
	// background-clip    : content-box;
	// border          : 6px solid rgba(0, 0, 0, 0.2);
	// box-shadow   : inset 0 0 6px rgba(0, 0, 0, 0.3);
}