.footer {
    padding         : 30px/@scale 0;
    background-color: @grey;

    &__content {
        .row-flex();
    }

    &__item {
        .col();
        .size(6);
        .size-lg(12);

        .lg-block( {
                text-align : center;
            }

        );

        &:first-child {
            p {
                display     : inline-block;
                padding-left: 20px;
                position    : relative;

                span {
                    position: relative;
                    content : '';
                    left    : 0;
                    top     : -2px;
                }
            }
        }

        &:last-child {
            text-align: right;

            .lg-block( {
                    text-align: center;
                    margin-top: 5px;
                }

            );
        }

        a {
            color          : inherit;
            text-decoration: none;
            transition     : all 0.3s ease;

            &:hover {
                text-decoration: underline;
                color          : @accent
            }
        }
    }
}