.header {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;

    background-color: transparent;

    &__content {
        padding        : 40px 0;
        display        : flex;
        justify-content: space-between;
        align-items    : center;

        font-size  : 25px;
        line-height: 25px;
        font-weight: 700;
    }

    &__logo {
        display    : flex;
        align-items: center;


        font-size  : 42px;
        font-weight: 800;

        color          : @accent;
        text-decoration: none;



        img {
            margin-right: 24px;
        }
    }

    h2 {
        max-width  : 305px;
        font-weight: 700;
        color      : inherit;
    }

    &__menu {
        display: flex;

        li {
            margin: 0 13px;
        }

        a {
            color          : inherit;
            text-decoration: none;
            transition     : all 0.3s ease;

            &:hover {
                color          : @accent;
                text-decoration: underline;
            }
        }
    }
}

.page {
    .header {
        &__menu a {
            color: @white;

            &:hover {
                color: @black;
            }
        }

        h2 {
            color: @white
        }
    }
}