.home {
    .hero {
        padding-top   : 180px;
        padding-bottom: 76px;

        &__content {
            .row-flex();
            align-items: center
        }

        h1 {
            margin-bottom: 25px;
            font-size    : 50px;
            line-height  : 50px;
            font-weight  : 700;

            span {
                display: block;
                color  : @red;
            }
        }

        &__text {
            .col();
            .size(6);
        }

        &__descr {
            max-width    : 751px;
            margin-bottom: 45px;
            font-size    : 25px;
            line-height  : 29px;
        }

        &__image {
            .col();
            .size(6);
        }

        &__btn {
            box-shadow: 10px 10px 30px 0px rgba(66, 45, 45, 0.3);
        }
    }
}