.home {
    .hero {
        // padding-top      : round(180px/@scale);
        padding-top      : 190px;
        padding-bottom   : round(76px/@scale);
        background    : url(../img/home-hero-bg-1.png) no-repeat left top,
            url(../img/home-hero-bg-2.png) no-repeat right bottom;

        .xl-block({
            background    : url(../img/home-hero-bg-1.png) no-repeat left top
        });

        .md-block( {
                // padding-top   : 140px;
                background: none;
                padding-bottom: round(76px/@scale_md);
            }

        );

        &__content {
            .row-flex();
            align-items: center
        }

        h1 {
            margin-bottom: round(25px/@scale);
            font-size    : round(50px/@scale);
            font-weight  : 700;

            .md-block( {
                    text-align   : center;
                    margin-bottom: round(25px/@scale_md);
                    font-size    : round(50px/@scale_md);
                }

            );

            span {
                display: block;
                color  : @red;
            }
        }

        &__text {
            .col();
            .size(6);
            .size-md(12);
            .md(text-align, center);
        }

        &__descr {
            max-width    : round(751px/@scale);
            margin-bottom: round(45px/@scale);
            line-height  : normal;

            .md-block( {
                    max-width    : round(751px/@scale_md);
                    margin       : 0 auto;
                    margin-bottom: round(45px/@scale_md);
                }

            );
        }

        &__image {
            .col();
            .size(6);
            .md(display, none);
            // .size-md(12);

            // img {
            //     .md-block( {
            //             width : 312px;
            //             height: 264px;
            //         }

            //     );
            // }

						img {
							// transition: all .5s ease;
							animation: 2s ease infinite flight;
							// animation-name: flight;
							// animation-timing-function: ease;
							// animation-duration: 2s;
							// animation-iteration-count: infinite
						}
        }

        &__btn {
            animation : pulse 2s infinite;
            box-shadow: 10px 10px 30px 0px rgba(66, 45, 45, 0.3);
        }
    }
}