.page {
    .hero {
        padding-top   : round(418px/@scale);
        padding-bottom: round(174px/@scale);

        .md-block( {
                padding-top   : round(418px/@scale_md);
                padding-bottom: round(174px/@scale_md);
            }

        );
        color              : @white;
        background-color   : #487ba0;
        background-repeat  : no-repeat;
        background-size    : cover;
        background-position: center;

        &__content {
            max-width    : 700px/@scale;
            margin-left  : auto;
            // min-height: 852px;
        }

        h1 {
            font-size: round(100px/@scale);
            .md(font-size, round(100px/@scale_md));
            .sm(font-size, 50px);
        }

        &__subheader {
            font-size: round(48px/@scale);
            .md(font-size, round(48px/@scale_md));
            font-weight: 700;
        }
    }
}