.page {
    .hero {
        padding-top   : 418px;
        padding-bottom: 174px;

        color     : @white;
        background: #487ba0 url(../img/page-hero-bg.png) no-repeat center/cover;

        &__content {
            max-width    : 700px;
            margin-left  : auto;
            // min-height: 852px;
        }

        h1 {
            font-size  : 100px;
            line-height: 100px;
            font-weight: 800;
        }

        &__subheader {
            font-size  : 48px;
            font-weight: 700;
        }
    }
}