.page {
    .hero {
        padding-top   : 418px/@scale;
        padding-bottom: 174px/@scale;

        color     : @white;
        background: #487ba0 url(../img/page-hero-bg.jpg) no-repeat center/cover;

        &__content {
            max-width    : 700px/@scale;
            margin-left  : auto;
            // min-height: 852px;
        }

        h1 {
            font-size: 100px/@scale;
        }

        &__subheader {
            font-size  : 48px/@scale;
            font-weight: 700;
        }
    }
}